huggingface-hub==0.11.0
torch==1.13.0
transformers==4.24.0
python-dotenv==0.21.0
pydantic==1.10.2
fastapi==0.87.0
uvicorn==0.20.0
sentencepiece==0.1.97
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
minio
accelerate
bitsandbytes

